@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;800&display=swap');

* {
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Sora", sans-serif;
}

html,body {
    height: 100vh;
    width: 100%;
}

.app {
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    min-width: 50%;
    /* min-height: 300px; */

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 24px;
    border-radius: 6px;
    border: 1px solid #fff;
    background-color: rgba(255,255,255, 0.3);
    backdrop-filter: blur(5px);
}

.countdown-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.countdown-container span {
    font-size: 32px;
    color: #fff;
}